<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2021</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">MTIET College of Engineering</h4>
                                <ul>
                                    <li> Mother Theresa Instituite OF Engineering And Technology<b>good</b> colleges in chittoor </li>
                                        <li>Completed B-tech in Electrical and Electronics Engineering with <b>83% </b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2015</p>
                        <div class="h5">Secondary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">English Medium</div>
                            <h4 class="category">SMNJC & Jr. College</h4>
                            <ul>
                                    <li>Completed secondary education with <b>92.54%</b> Aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2010</p>
                        <div class="h5">Primary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">English Medium</div>
                                <h4 class="category">SMNJC</h4>
                                <ul>
                                        <li>Completed with <b>67% </b>Aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                            
</div>     